body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f8f8f8; }

a {
  text-decoration: none;
  color: unset; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.btn {
  font-size: 1.2rem;
  border: 1px solid rgba(241, 106, 123, 0.7);
  background-color: unset;
  border-radius: .7rem;
  padding: .8rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  margin-top: .4rem; }
  .btn:hover {
    color: #fff;
    background-color: rgba(241, 106, 123, 0.7);
    border: 1px solid rgba(241, 106, 123, 0); }
  .btn:focus {
    outline: none; }

.btn-white {
  border: 1px solid #f2f2f2;
  color: #f6f6f6;
  margin-top: 1rem; }
  .btn-white:hover {
    border: 1px solid rgba(242, 242, 242, 0); }

.btn-pink {
  color: rgba(246, 246, 246, 0.9);
  background-color: rgba(241, 106, 123, 0.9);
  border: 1px solid rgba(246, 246, 246, 0); }

.custom-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  height: 50px;
  padding: 0 1.5rem;
  background-color: unset;
  border-radius: 10px;
  border: 1px solid rgba(241, 106, 123, 0.6);
  text-transform: lowercase;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .custom-button:hover {
    background-color: rgba(241, 106, 123, 0.7);
    border: 1px solid rgba(241, 106, 123, 0);
    color: white; }
  .custom-button:focus {
    outline: none; }
  .custom-button.google-sign-in {
    background-color: #4285f4;
    color: white; }
    .custom-button.google-sign-in:hover {
      background-color: #357ae8;
      border: none; }
  .custom-button.inverted {
    background-color: white;
    color: black; }
    .custom-button.inverted:hover {
      background-color: black;
      color: white;
      border: none; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 4.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  z-index: 99;
  background-color: #f8f8f8; }
  .navbar .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-transform: capitalize; }
    .navbar .menu .nav-logo {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0rem 1rem;
      color: rgba(105, 105, 105, 0.9);
      font-weight: 600;
      text-transform: lowercase;
      font-size: 1.3rem; }
      .navbar .menu .nav-logo .first-letter, .navbar .menu .nav-logo .second-letter {
        color: rgba(241, 106, 123, 0.9); }
    .navbar .menu .nav-links {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0; }
      .navbar .menu .nav-links .link {
        font-size: 1.2rem;
        color: rgba(105, 105, 105, 0.9);
        font-weight: 600;
        cursor: pointer;
        margin: 0rem 2rem;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .navbar .menu .nav-links .link:hover {
          color: rgba(241, 106, 123, 0.9); }
    .navbar .menu .nav-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0rem 1rem; }
      .navbar .menu .nav-right .nav-option {
        font-size: 1.2rem;
        color: rgba(105, 105, 105, 0.9);
        font-weight: 600;
        cursor: pointer;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .navbar .menu .nav-right .nav-option:hover {
          color: rgba(241, 106, 123, 0.9); }
      .navbar .menu .nav-right .link-active {
        color: rgba(241, 106, 123, 0.9); }
      .navbar .menu .nav-right .cart-icon {
        width: 45px;
        height: 45px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer; }
        .navbar .menu .nav-right .cart-icon .shopping-icon {
          width: 30px;
          height: 30px; }
        .navbar .menu .nav-right .cart-icon .item-count {
          position: absolute;
          font-size: .9rem;
          font-weight: bold;
          bottom: 10px; }

.navbar-slider {
  position: fixed;
  z-index: 98;
  top: 4.5rem;
  right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  background-color: rgba(246, 246, 246, 0.9);
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }
  .navbar-slider .slider-item {
    width: 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0rem 1.5rem;
    padding: .5rem; }
    .navbar-slider .slider-item .nav-menu-image {
      width: 100%;
      cursor: pointer; }
    .navbar-slider .slider-item .nav-menu-title {
      margin: 0 0;
      padding: 0rem;
      color: dimgray;
      text-transform: capitalize;
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .navbar-slider .slider-item .nav-menu-title:hover {
        color: rgba(241, 106, 123, 0.9); }
      .navbar-slider .slider-item .nav-menu-title.link-active {
        color: rgba(241, 106, 123, 0.9); }
      .navbar-slider .slider-item .nav-menu-title h3 {
        margin: .5rem 0; }
  .navbar-slider.visible {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%); }

@-webkit-keyframes cartDrop {
  0% {
    display: -webkit-box;
    display: flex;
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes cartDrop {
  0% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.dropdown-wrapper {
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: absolute;
  width: 25rem;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 4.5rem;
  right: 0rem;
  z-index: 5;
  background-color: white;
  -webkit-box-shadow: -10px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 30px 30px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 1rem; }
  .dropdown-wrapper .cart-dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: scroll;
    padding: 20px;
    height: 100%; }
    .dropdown-wrapper .cart-dropdown .cart-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .dropdown-wrapper .cart-dropdown .cart-items .empty-message {
        font-size: 2rem;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: center;
        justify-self: center; }
  .dropdown-wrapper.visible {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .dropdown-wrapper .btn-container {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: .5rem 0;
    padding: .8rem 0;
    width: 100%;
    height: 4rem; }
    .dropdown-wrapper .btn-container .custom-button {
      width: 8rem;
      padding: 0; }
    .dropdown-wrapper .btn-container.visible {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

.cart-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  margin-bottom: 15px; }
  .cart-item img {
    width: 30%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top; }
  .cart-item .item-details {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 20px; }
    .cart-item .item-details .name {
      font-size: 16px; }
    .cart-item .item-details .remove-button {
      cursor: pointer;
      margin-top: .8rem; }

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70%;
  border-top: 1px solid rgba(105, 105, 105, 0.1);
  border-bottom: 1px solid rgba(105, 105, 105, 0.1);
  margin: 2rem 0;
  padding: 1rem;
  text-align: center; }
  .main-title .main-title-text {
    font-weight: 600;
    font-size: 3.5rem;
    margin: 0;
    padding: .5rem;
    text-transform: lowercase;
    color: dimgray; }
  .main-title .main-title-description {
    font-size: 1.6rem;
    color: dimgray;
    text-transform: lowercase;
    margin: 0;
    padding: .5rem; }

.selections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%; }
  .selections .selections-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem; }
    .selections .selections-container .sel-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0rem 1.5rem;
      width: 25rem; }
      .selections .selections-container .sel-wrapper .sel-card {
        overflow: hidden;
        width: 100%;
        height: 35rem;
        border-radius: 3%;
        position: relative;
        overflow: hidden;
        z-index: 1; }
        .selections .selections-container .sel-wrapper .sel-card .sel-image {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          background-position: center;
          background-size: cover;
          cursor: pointer;
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          -webkit-transition: .8s;
          -o-transition: .8s;
          transition: .8s;
          z-index: -1; }
        .selections .selections-container .sel-wrapper .sel-card .sel-text-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          text-align: center;
          padding: 1rem;
          background-color: rgba(105, 105, 105, 0.4);
          width: 100%;
          height: 100%;
          -webkit-transition: .3s ease-in-out;
          -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
          cursor: pointer; }
          .selections .selections-container .sel-wrapper .sel-card .sel-text-wrapper .sel-description, .selections .selections-container .sel-wrapper .sel-card .sel-text-wrapper .sel-title {
            font-size: 1.5rem;
            font-family: "Roboto", sans-serif;
            color: #f6f6f6;
            font-weight: 200;
            margin: 0;
            opacity: 0;
            -webkit-transition: .5s ease-in-out;
            -o-transition: .5s ease-in-out;
            transition: .5s ease-in-out; }
          .selections .selections-container .sel-wrapper .sel-card .sel-text-wrapper .sel-title {
            font-size: 2.5rem;
            font-weight: 600; }
          .selections .selections-container .sel-wrapper .sel-card .sel-text-wrapper .btn {
            opacity: 0;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
      .selections .selections-container .sel-wrapper .sel-card:hover .sel-image {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
      .selections .selections-container .sel-wrapper .sel-card:hover .sel-text-wrapper {
        background-color: rgba(195, 195, 195, 0.5); }
        .selections .selections-container .sel-wrapper .sel-card:hover .sel-text-wrapper .sel-description, .selections .selections-container .sel-wrapper .sel-card:hover .sel-text-wrapper .sel-title {
          opacity: 1; }
        .selections .selections-container .sel-wrapper .sel-card:hover .sel-text-wrapper .btn {
          opacity: 1; }

.products-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.products-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 65%; }
  .products-section .items {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.products-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .products-overview .products-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .products-overview .products-preview .preview {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .products-overview .products-preview .preview .product-card {
        width: 18rem; }

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 22rem;
  margin: 1rem 1rem;
  position: relative;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .product-card img {
    width: 100%;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    position: relative; }
  .product-card .bottom-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .product-card .bottom-info .category {
      text-transform: uppercase;
      color: rgba(105, 105, 105, 0.5);
      letter-spacing: .2rem;
      font-size: .8rem;
      margin: 0;
      padding: .7rem; }
    .product-card .bottom-info .card-title {
      width: 90%;
      text-transform: lowercase;
      text-align: center;
      font-size: 1.3rem;
      margin: 0;
      padding: .5rem;
      font-weight: 600;
      color: rgba(105, 105, 105, 0.9);
      cursor: pointer;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      border-bottom: 1px solid rgba(241, 106, 123, 0.3); }
      .product-card .bottom-info .card-title:hover {
        color: rgba(241, 106, 123, 0.7); }
    .product-card .bottom-info .bottom-container {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .product-card .bottom-info .bottom-container .price, .product-card .bottom-info .bottom-container .cart {
        padding: 0rem 1rem;
        text-transform: lowercase;
        font-weight: 600;
        font-size: 1.3rem;
        color: rgba(105, 105, 105, 0.7); }
      .product-card .bottom-info .bottom-container .cart {
        cursor: pointer; }
      .product-card .bottom-info .bottom-container .price {
        cursor: default; }
  .product-card:hover {
    -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1); }

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  overflow: hidden;
  width: 100%; }

.trends-container {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .trends-container .trends-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40rem;
    height: 40rem;
    border-radius: 3%;
    overflow: hidden;
    margin: 1rem;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer; }
    .trends-container .trends-card .trends-wrapper {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: bottom;
      position: absolute;
      z-index: -1;
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .8s;
      -o-transition: .8s;
      transition: .8s; }
    .trends-container .trends-card .trends-info {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: rgba(105, 105, 105, 0.4);
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .trends-container .trends-card .trends-info .trends-title {
        font-size: 4rem;
        color: #f6f6f6;
        margin: 0;
        text-transform: lowercase; }
      .trends-container .trends-card .trends-info .trends-description {
        font-size: 2rem;
        margin: 0;
        color: #f6f6f6;
        padding: .5rem; }
      .trends-container .trends-card .trends-info:hover {
        background-color: rgba(195, 195, 195, 0.4); }
    .trends-container .trends-card:hover .trends-wrapper {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .trends-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0; }
    .trends-container .trends {
      margin: .5rem 0; }
      .trends-container .trends .trends-card {
        width: 100%;
        height: 30vh;
        border-radius: 0%; }
        .trends-container .trends .trends-card .trends-text-wrapper .trends-title {
          font-size: 2rem; }
        .trends-container .trends .trends-card .trends-text-wrapper .trends-description {
          font-size: 1.2rem; } }

.parallax-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0; }

.parallax-content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 30rem;
  width: 100vw;
  text-align: center;
  background-color: rgba(106, 105, 105, 0.4); }
  .parallax-content-section .parallax-title {
    color: #f2f2f2;
    font-size: 4rem;
    margin: 0; }
  .parallax-content-section .parallax-description {
    color: #f2f2f2;
    font-size: 2rem;
    margin: 0; }

.insta-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1rem 0; }
  .insta-section .insta-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 1rem 0; }
    .insta-section .insta-container .insta-card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-size: cover;
      width: 17rem;
      height: 17rem;
      margin: 1rem 1rem;
      border-radius: 5%;
      -webkit-box-shadow: 0px 0px 40px rgba(105, 105, 105, 0.2);
      box-shadow: 0px 0px 40px rgba(105, 105, 105, 0.2);
      cursor: pointer; }
      .insta-section .insta-container .insta-card .middle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 80%;
        height: 80%;
        background-color: rgba(105, 105, 105, 0.7);
        border-radius: 5%;
        opacity: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .insta-section .insta-container .insta-card .middle .insta-link {
          font-size: 1.3rem;
          opacity: 1;
          color: #f2f2f2;
          font-family: "Roboto", sans-serif;
          border-bottom: 1px solid rgba(242, 242, 242, 0); }
        .insta-section .insta-container .insta-card .middle .insta-link:hover {
          border-bottom: 1px solid rgba(242, 242, 242, 0.6); }
    .insta-section .insta-container .insta-card:hover .middle {
      opacity: 1; }

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 80vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
  background-image: url("./images/login_page/login2.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .login .login-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 33rem;
    height: 65vh;
    padding: 1rem; }
    .login .login-form .main-form {
      width: 75%; }
      .login .login-form .main-form button {
        margin: auto; }
  .login .sign-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: rgba(246, 246, 246, 0.9);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .login .sign-in:hover {
      background-color: #f6f6f6; }
    .login .sign-in .title {
      margin: 1rem 0;
      font-size: 1.6rem;
      font-weight: 200; }
  .login .sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgba(246, 246, 246, 0.9);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .login .sign-up:hover {
      background-color: #f6f6f6; }
    .login .sign-up .title {
      margin: 1rem 0;
      font-size: 1.6rem;
      font-weight: 200; }
  .login .group {
    position: relative;
    margin: 40px 0; }
    .login .group .form-input {
      background: none;
      color: grey;
      font-size: 18px;
      padding: .5rem 0;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid rgba(241, 106, 123, 0.5);
      margin: 25px 0; }
      .login .group .form-input:focus {
        outline: none; }
      .login .group .form-input:focus ~ .form-input-label {
        top: -14px;
        font-size: 12px;
        color: black; }
    .login .group input[type='password'] {
      letter-spacing: 0.3em; }
    .login .group .form-input-label {
      color: rgba(128, 128, 128, 0.4);
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      -webkit-transition: 300ms ease all;
      -o-transition: 300ms ease all;
      transition: 300ms ease all; }
      .login .group .form-input-label.shrink {
        top: -14px;
        font-size: 12px;
        color: black; }
  .login .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px auto 0; }
  .checkout-page .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey; }
    .checkout-page .checkout-header .header-block {
      text-transform: capitalize;
      width: 23%; }
      .checkout-page .checkout-header .header-block:last-child {
        width: 8%; }
  .checkout-page .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px; }

.checkout-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .checkout-item .image-container {
    width: 23%;
    padding-right: 15px; }
    .checkout-item .image-container img {
      width: 100%;
      height: 100%; }
  .checkout-item .name,
  .checkout-item .quantity,
  .checkout-item .price {
    width: 23%; }
  .checkout-item .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .checkout-item .quantity .arrow {
      cursor: pointer; }
    .checkout-item .quantity .value {
      margin: 0 10px; }
  .checkout-item .remove-button {
    padding-left: 12px;
    cursor: pointer; }

.maintag {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: lowercase;
  padding: .5rem 0rem;
  color: dimgray;
  border-bottom: 1px solid rgba(105, 105, 105, 0.2); }

.footer-item {
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  margin-top: .8rem;
  font-size: 1.3rem;
  color: #6a6969;
  cursor: pointer;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  font-weight: 400; }

.footer-item:hover {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
  color: rgba(241, 106, 123, 0.9); }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-height: 12rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem 0;
  background-color: rgba(242, 242, 242, 0.1);
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05); }
  .footer-container .account-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem; }
  .footer-container .subscribe-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer-container .subscribe-container .sub-text {
      text-transform: lowercase;
      font-family: "Roboto", sans-serif;
      font-size: 1.4rem;
      font-weight: 600;
      color: #6a6969;
      width: 80%;
      text-align: center; }
    .footer-container .subscribe-container .form-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer-container .subscribe-container .form-container .form-inline {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .footer-container .subscribe-container .form-container .form-inline input {
          padding: 11px;
          background-color: #fff;
          color: black;
          border: 1px solid #ddd;
          font-family: "Roboto", sans-serif;
          font-size: 1.1rem;
          border-radius: 10px; }
        .footer-container .subscribe-container .form-container .form-inline .submit {
          padding: .7rem;
          margin: 0;
          margin-left: 1rem;
          text-transform: lowercase;
          font-size: 1.3rem; }
  .footer-container .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem; }
    .footer-container .about-container .about-item {
      font-family: "Roboto", sans-serif;
      margin-top: .8rem;
      line-height: 1.3rem;
      font-size: 1.1rem;
      color: #6a6969;
      cursor: pointer;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      font-weight: 300; }
    .footer-container .about-container .about-item:hover {
      -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
      transform: translateX(5px); }

.under-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  border-top: 1px solid rgba(105, 105, 105, 0.1); }
  .under-part .under-text {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin-left: 1rem;
    font-size: .9rem; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer-container .maintag {
    font-size: 1.4rem; }
  .footer-container .footer-item {
    font-size: 1.1rem; }
  .footer-container .account-container {
    padding: 0; }
  .footer-container .subscribe-container .sub-text {
    font-size: 1.1rem; } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

.spinner-overlay {
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .spinner-overlay .spinner-container {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(195, 195, 195, 0.6);
    border-radius: 50%;
    border-top-color: #636767;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite; }
