body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgba(246, 246, 246, 0.6); }

a {
  text-decoration: none;
  color: unset; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.custom-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  height: 50px;
  padding: 0 1.5rem;
  background-color: unset;
  border-radius: 10px;
  border: 1px solid rgba(241, 106, 123, 0.6);
  text-transform: lowercase;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .custom-button:hover {
    background-color: rgba(241, 106, 123, 0.7);
    border: 1px solid rgba(241, 106, 123, 0);
    color: white; }
  .custom-button:focus {
    outline: none; }
  .custom-button.google-sign-in {
    background-color: #4285f4;
    color: white; }
    .custom-button.google-sign-in:hover {
      background-color: #357ae8;
      border: none; }
  .custom-button.inverted {
    background-color: white;
    color: black; }
    .custom-button.inverted:hover {
      background-color: black;
      color: white;
      border: none; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  z-index: 99;
  background-color: #f6f6f6; }
  .navbar .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .navbar .menu .nav-logo {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 7rem; }
    .navbar .menu .nav-links {
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 80%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .navbar .menu .nav-links .link {
        font-size: 1.3rem;
        text-transform: lowercase;
        color: rgba(105, 105, 105, 0.9);
        font-weight: 600;
        cursor: pointer;
        margin: 0rem 2rem; }
    .navbar .menu .nav-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 10rem; }
      .navbar .menu .nav-right .nav-option {
        font-size: 1.2rem; }
      .navbar .menu .nav-right .cart-icon {
        width: 45px;
        height: 45px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer; }
        .navbar .menu .nav-right .cart-icon .shopping-icon {
          width: 30px;
          height: 30px; }
        .navbar .menu .nav-right .cart-icon .item-count {
          position: absolute;
          font-size: .9rem;
          font-weight: bold;
          bottom: 10px; }

.navbar-slider {
  position: fixed;
  z-index: 98;
  top: 4.5rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  background-color: rgba(246, 246, 246, 0.9);
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }
  .navbar-slider .slider-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0rem 1rem;
    padding: .5rem; }
    .navbar-slider .slider-item .nav-menu-image {
      width: 100%;
      width: 7rem;
      cursor: pointer; }
    .navbar-slider .slider-item .nav-menu-title {
      margin: 0;
      padding: .7rem;
      cursor: pointer; }
  .navbar-slider.visible {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%); }

.dropdown-wrapper {
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  position: absolute;
  width: 25rem;
  height: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 4.5rem;
  right: 0rem;
  z-index: 5;
  background-color: white;
  -webkit-box-shadow: -10px 30px 30px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 30px 30px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 1rem; }
  .dropdown-wrapper .cart-dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: scroll;
    padding: 20px;
    height: 100%; }
    .dropdown-wrapper .cart-dropdown .cart-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .dropdown-wrapper .cart-dropdown .cart-items .empty-message {
        font-size: 2rem;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: center;
        justify-self: center; }
  .dropdown-wrapper.visible {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .dropdown-wrapper .btn-container {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: .5rem 0;
    padding: .8rem 0;
    width: 100%;
    height: 4rem; }
    .dropdown-wrapper .btn-container .custom-button {
      width: 8rem;
      padding: 0; }
    .dropdown-wrapper .btn-container.visible {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }

.cart-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  margin-bottom: 15px; }
  .cart-item img {
    width: 30%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top; }
  .cart-item .item-details {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 20px; }
    .cart-item .item-details .name {
      font-size: 16px; }
    .cart-item .item-details .remove-button {
      cursor: pointer;
      margin-top: .8rem; }

.products-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .products-page .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 22rem;
  position: relative; }
  .product-card img {
    width: 100%;
    cursor: pointer;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  .product-card .card-title {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300; }
  .product-card .custom-button {
    position: absolute;
    border-radius: 50%;
    min-width: 4rem;
    min-height: 4rem;
    top: 82%;
    right: 9.3rem;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    background-color: black;
    color: white; }
    .product-card .custom-button:hover {
      background-color: green; }
  .product-card:hover img {
    opacity: .8; }
  .product-card:hover .custom-button {
    opacity: 1;
    visibility: visible; }

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 80vh; }

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 80vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
  background-image: url("./images/login_page/login2.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .login .login-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 33rem;
    height: 65vh;
    padding: 1rem; }
    .login .login-form .main-form {
      width: 75%; }
      .login .login-form .main-form button {
        margin: auto; }
  .login .sign-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: rgba(246, 246, 246, 0.9);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .login .sign-in:hover {
      background-color: #f6f6f6; }
    .login .sign-in .title {
      margin: 1rem 0;
      font-size: 1.6rem;
      font-weight: 200; }
  .login .sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgba(246, 246, 246, 0.9);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .login .sign-up:hover {
      background-color: #f6f6f6; }
    .login .sign-up .title {
      margin: 1rem 0;
      font-size: 1.6rem;
      font-weight: 200; }
  .login .group {
    position: relative;
    margin: 40px 0; }
    .login .group .form-input {
      background: none;
      color: grey;
      font-size: 18px;
      padding: .5rem 0;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid rgba(241, 106, 123, 0.5);
      margin: 25px 0; }
      .login .group .form-input:focus {
        outline: none; }
      .login .group .form-input:focus ~ .form-input-label {
        top: -14px;
        font-size: 12px;
        color: black; }
    .login .group input[type='password'] {
      letter-spacing: 0.3em; }
    .login .group .form-input-label {
      color: rgba(128, 128, 128, 0.4);
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      -webkit-transition: 300ms ease all;
      -o-transition: 300ms ease all;
      transition: 300ms ease all; }
      .login .group .form-input-label.shrink {
        top: -14px;
        font-size: 12px;
        color: black; }
  .login .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px auto 0; }
  .checkout-page .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey; }
    .checkout-page .checkout-header .header-block {
      text-transform: capitalize;
      width: 23%; }
      .checkout-page .checkout-header .header-block:last-child {
        width: 8%; }
  .checkout-page .total {
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px; }

.checkout-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .checkout-item .image-container {
    width: 23%;
    padding-right: 15px; }
    .checkout-item .image-container img {
      width: 100%;
      height: 100%; }
  .checkout-item .name,
  .checkout-item .quantity,
  .checkout-item .price {
    width: 23%; }
  .checkout-item .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .checkout-item .quantity .arrow {
      cursor: pointer; }
    .checkout-item .quantity .value {
      margin: 0 10px; }
  .checkout-item .remove-button {
    padding-left: 12px;
    cursor: pointer; }

.maintag {
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: lowercase;
  padding: .5rem 0rem;
  color: dimgray;
  border-bottom: 1px solid rgba(105, 105, 105, 0.2); }

.footer-item {
  font-family: "Roboto", sans-serif;
  text-transform: lowercase;
  margin-top: .8rem;
  font-size: 1.3rem;
  color: #6a6969;
  cursor: pointer;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  font-weight: 400; }

.footer-item:hover {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
  color: rgba(241, 106, 123, 0.9); }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  min-height: 12rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem 0;
  background-color: rgba(242, 242, 242, 0.1);
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05); }
  .footer-container .account-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem; }
  .footer-container .subscribe-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer-container .subscribe-container .sub-text {
      text-transform: lowercase;
      font-family: "Roboto", sans-serif;
      font-size: 1.4rem;
      font-weight: 600;
      color: #6a6969;
      width: 80%;
      text-align: center; }
    .footer-container .subscribe-container .form-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .footer-container .subscribe-container .form-container .form-inline {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .footer-container .subscribe-container .form-container .form-inline input {
          padding: 11px;
          background-color: #fff;
          color: black;
          border: 1px solid #ddd;
          font-family: "Roboto", sans-serif;
          font-size: 1.1rem;
          border-radius: 10px; }
        .footer-container .subscribe-container .form-container .form-inline .submit {
          padding: .7rem;
          margin: 0;
          margin-left: 1rem;
          text-transform: lowercase;
          font-size: 1.3rem; }
  .footer-container .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem; }
    .footer-container .about-container .about-item {
      font-family: "Roboto", sans-serif;
      margin-top: .8rem;
      line-height: 1.3rem;
      font-size: 1.1rem;
      color: #6a6969;
      cursor: pointer;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      font-weight: 300; }
    .footer-container .about-container .about-item:hover {
      -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
      transform: translateX(5px); }

.under-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  border-top: 1px solid rgba(105, 105, 105, 0.1); }
  .under-part .under-text {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin-left: 1rem;
    font-size: .9rem; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer-container .maintag {
    font-size: 1.4rem; }
  .footer-container .footer-item {
    font-size: 1.1rem; }
  .footer-container .account-container {
    padding: 0; }
  .footer-container .subscribe-container .sub-text {
    font-size: 1.1rem; } }
